services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: display2025/upload_laravel:latest
    container_name: laravel_app
    working_dir: /var/www/html/app
    environment:
      APP_ENV: production
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
