services:
  laravel_app:
    image: display2025/upload_laravel:latest
    container_name: laravel_app
    working_dir: /var/www/html/app
    volumes:
      - /home/sistemas_displaysrl/display-cloud/storage:/var/www/html/app/storage/app/public/manuales
      - app-code:/var/www/html/app
    environment:
      DB_HOST: mysql
      DB_DATABASE: manual_management
      DB_USERNAME: rag-user
      DB_PASSWORD: Info2025+
      DB_PORT: 3306
      APP_NAME: "Manuales Display"
      APP_ENV: production
      APP_DEBUG: false
      APP_URL: https://manuales-display.duckdns.org
      FORCE_HTTPS: true
      APP_FORCE_HTTPS: true
      RAG_API_URL: http://rag-python:8000
    networks:
      - rag-net
    restart: unless-stopped

  laravel_web:
    image: nginx:1.27-alpine
    container_name: laravel_web
    ports:
      - "9000:80"
    volumes:
      - app-code:/var/www/html/app:ro
      - /home/sistemas_displaysrl/display-cloud/storage:/var/www/html/app/storage/app/public/manuales:ro
    configs:
      - source: nginx-config
        target: /etc/nginx/conf.d/default.conf
    depends_on:
      - laravel_app
    networks:
      - rag-net
    restart: unless-stopped

volumes:
  app-code:


configs:
  nginx-config:
    content: |
      server {
          listen 80;
          server_name localhost;
          root /var/www/html/app/public;
          index index.php index.html;

          location / {
              try_files $uri $uri/ /index.php?$query_string;
          }

          location ~ \.php$ {
              try_files $uri =404;
              fastcgi_pass laravel_app:9000;
              fastcgi_index index.php;
              include fastcgi_params;
              fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          }

          location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|webp|ttf|otf|woff|woff2|pdf)$ {
              expires 7d;
              add_header Cache-Control "public, no-transform";
          }

          client_max_body_size 64M;
      }

networks:
  rag-net:
    external: true
